POSTGRES_PASSWORD
POSTGRES_DB
POSTGRES_USER
POSTGRES_HOST
POSTGRES_PORT
SECRET_KEY
DEBUG
ALLOWED_HOSTS
ES_URL
ES_DOCKER_URL
BATCH_SIZE
TIME_TO_SLEEP
SQLITE_DB_FILE
ELASTIC_HOST
ELASTIC_PORT
PROJECT_NAME
REDIS_HOST
REDIS_PORT
FASTAPI_HOST
FASTAPI_PORT